input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 500px;
    border-radius: 5px;
}
#validation-input {
    border: 2px solid #bdbdbd;
  }

  #validation-input.valid {
    outline: 2px solid #4caf50;
    border-color: #4caf50;
  }

  #validation-input.invalid {
    outline: 2px solid #f44336;;
    border: 2px solid #f44336;
  }

  .modal {
    width: 500px;
    height: 500px;
    border: none;
    margin: 0 auto;
}

.modal-text {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-img {
    width: 100%;
    object-fit: contain;
}